{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/all.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
</head>	
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
		<div class="container-fluid">
		  <a class="navbar-brand" href="/">My Classroom</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li>
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-tabs">
                <a class="nav-link active" href="#">About</a>
            </li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		    	<li><a href="#" class="nav-link">Sign up</a></li>
		        <li><a href="/login" class="nav-link">Login in</a></li> 
		    </ul>       
		  </div>
		</div>	
</nav>
<section class="container px-0">
	<div class="row align-item-center content">
		<div class="col-lg-6">
			<div id="headingGroup" class="text-center  mt-5">

				<h2>At my classroom , You will access the virtual classroom</h2>
			</div>
		</div>
		<div class="col-lg-6">
			<img src="https://images.unsplash.com/photo-1510531704581-5b2870972060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80" class="img-fluid">
		</div>
	</div>
</section>

  <section class="container px-0">
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="https://images.unsplash.com/photo-1578501966424-4e20e8f85715?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h4>Our mission is to create a websites that is used in small scale. But we are doing consistent efforts to make to the large scale. Our vision is that you students find this website useful. We are trying to improve ourselves.</h4>
                        <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline">
                        <p class="lead"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="container">
	<footer class="footer d-none d-sm-block">
	<div class="footer-content">
		<div class="row">
		<div class="col-sm-6">
			<p>Contact Us:</p>

			<a href="#"><i class="fab fa-google"></i>  vedpal.21810673@viit.ac.in</a><br>
			<a href="#"><!-- <i class="fab fa-linkedin"></i> --><i class="fab fa-google"></i>  Harshvardhan.21810343@viit.ac.in</a>
		</div>
		</div>
	</div>
</footer>

</div>
<footer class="footer-bottom">
	<small id="small">
			&copy; MyClassroom. All Rights Reserved.
		</small>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>			
</body>
</html>